.yarn/*

node_modules

/*.tgz

build/

.vscode/
.idea/

# Code Signing
code-signing.pem
code-signing.pem.pub

# mprocs
mprocs.log
# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/nitrogen
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/